mixin headAppends
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js")
mixin ampStyles
    include /public/css/exampletemplate2/global.css
mixin header
    | Example Template 2 Header
mixin footer
    | Example Template 2 Footer
