mixin headAppends
    //- Our global CSS
    link(rel="stylesheet" href="/css/exampletemplate/global.css")
    //- Our global scripts
    script(defer src="/js/exampletemplate/global.js")
mixin header
    | Example Template Header
mixin footer
    | Example Template Footer
